.content_area > p{width: 1000px; margin: 0 auto; text-align: center; font-size: 1.5rem; font-weight: 600; padding: 100px 0; line-height: 4rem;}
.content_area p span{font-size: 2rem; color: #EC2B84;}
.content_area ul{width: 1400px; margin: 0 auto; padding: 60px 0; overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
    grid-template-areas:
        'a b'
        'c d'
        'e f'
        'g h';}
 
 .content_area ul li:nth-of-type(1){grid-area: a; margin-top: 70px;}
 .content_area ul li:nth-of-type(2){grid-area: b;}
 .content_area ul li:nth-of-type(3){grid-area: c;}
 .content_area ul li:nth-of-type(4){grid-area: d; margin-top: 70px;}
 .content_area ul li:nth-of-type(5){grid-area: e; margin-top: 70px;}
 .content_area ul li:nth-of-type(6){grid-area: f;}
 .content_area ul li:nth-of-type(7){grid-area: g;}
 .content_area ul li:nth-of-type(8){grid-area: h; margin-top: 70px;}

 .content_area ul li strong{display: block; font-size: 2rem; margin-bottom: 40px;}
 .content_area ul li p{font-size: 1.1rem; line-height: 2.5rem; font-weight: 500;}