@charset "utf-8";

#content{width: 100%;}

#content .faq{width:1200px; margin: 150px auto; }  
#content .faq .q{position: relative; border-bottom:1px solid #ddd; border-radius: 30px;}  
#content .faq .q a.trigger{display:block; padding:30px;color:#333;text-align:left;text-decoration:none ; font-size: 1.2rem;}  
#content .faq .q span{font-size: 2rem;  text-align: center; color: #F23492; position: absolute; right: 60px; top: 30px; z-index: -1;} 
#content .faq .a{width: 840px; text-align: justify; padding:30px; line-height:1.5rem; display: none;} 