@charset "utf-8";


.content_area{width: 100%;}
.content_area .content_top{width: 800px; margin: 0 auto; font-size: 1.2rem; line-height: 3rem;
     text-align:justify; padding: 80px;}
.content_area .content_top p{padding: 0 0 50px 0;}
.content_area .content_top p:nth-of-type(1){text-align: center;}
.content_area .content_top p strong{color:  #F23492;}

.content_area .content_middle{width: 1200px;  margin: 0 auto; position: relative;}
.content_area .content_middle img{width: 840px; margin-left: 180px;}


.content_bottom .mid_nav {width:100%; margin: 0 40px auto;  overflow: hidden;} 
.content_bottom .mid_nav li{float: left; margin: 30px;}

.content_bottom .mid_nav a.tab { display:block; width:250px; text-align: center;
          font-size: 16px; border: 3px solid #F23492; border-radius: 30px; color: #333; font-weight: bold; padding: 10px 0; transition: all .5s;} 
.content_bottom .mid_nav li:hover a.tab{background: #F23492; color: #fff; border-radius: 30px;}
.content_bottom .contlist {display: none ; padding:50px; margin-bottom: 100px; line-height:1.5em;  } 

.content_bottom{width:1000px; margin: 0 auto; }  
.content_bottom .que_top{position:relative; width: 100%; padding: 50px 0 60px ; text-align: center; font-size: 1.8rem;
     font-weight: 600;}  
.content_bottom .que_top .all{position:absolute; top:5px; right:10px; color:#333; text-decoration:none;}  
.content_bottom .que{border-bottom:2px solid #ddd; border-radius: 30px; position: relative;}  
.content_bottom .que a.trigger{display:block; padding:30px;color:#333;text-align:left;text-decoration:none ; font-size: 1.2rem;}  
.content_bottom .hide .que a.trigger{font-weight:normal; background:none}   
.content_area .content_bottom li .que span{font-size: 2rem;  text-align: center; color: #F23492; position: absolute; right: 60px; top: 30px; z-index: -1;}
.content_bottom .ans{width: 840px; text-align: justify; padding:30px; line-height:1.5rem; display: none;} 







